<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <%= content_tag :div, '', data: { stock: @stock.attributes.slice('name', 'duration', 'price', 'interest') },
                      id: 'stock_data' %>
      <h2 id="stock_name" class="text-center mt-5"><%= @stock.name %></h2>
      <div class="stock-details">
        <div class="form-group row">
          <%= label_tag :price %>
          <%= text_field_tag :price, @stock.price, readonly: true, class: 'form-control' %>
        </div>
        <div class="form-group row">
          <%= label_tag :duration %>
          <%= text_field_tag :duration, @stock.duration, readonly: true, class: 'form-control' %>
        </div>
        <div class="form-group row">
          <%= label_tag :Interest %>
          <%= text_field_tag :interest, "#{@stock.interest}%", readonly: true, class: 'form-control' %>
        </div>
        <div class="stock_actions text-center my-2">
          <%= link_to 'Delete', @stock, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div id="stock_chart" style="height: 500px" class="mb-5">
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'Chart.bundle.min.js'%>
<%= javascript_include_tag 'chartkick.min.js'%>
<%= javascript_include_tag 'stocks.js'%>

